body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: .40fr 2fr .30fr .4fr;
  background-image: url("https://i.imgur.com/F3KRejQ.jpg");
}

section {
  width: 700px;
  height: 600px;
  display: grid;
  background-color:  #381f7a;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  padding: 20px 50px 20px 50px;
  box-shadow: inset 20px 20px #0f004a;
}

header, footer {
  grid-column: span 3;
  text-align: center;
}

.card img {
  height: 120px;
  box-shadow: 10px 10px #0f004a;
  border-radius: 10px;
  animation: flipOutY;
  animation-duration: .2s;
}

.cell img {
  max-width: 100%;
  height: auto;
}

.card img:hover {
  box-shadow: 0 0 0 .5em #eb2026;
}

footer {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px 0 30px 0;
}

.scoreboard {
  background-color: #0660ae;
  box-shadow: 0 0 0 .3em white;
  width: 450px;
  height: 80px;
  border-radius: 5px;
}

.scorecells {
  display: flex;
  margin: 10px 10px 10px 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0660ae;
  box-shadow: 0 0 0 .3em white;
  width: 50px;
  height: 80px;
  border-radius: 5px;
  margin: 0 10px 0 5px;
}

.toprow, .bottomrow {
  display: flex;
  justify-content: space-between;
}

.world, .scorecount, .lives, .numbers, .timedisplay {
  font-family: 'Quantico', sans-serif;
  font-size: 22px;
  color: #ecbc36;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.p {
  padding: 15px 15px 0 15px;
  font-family: 'Quantico', sans-serif;
  font-size: 22px;
  color: white;
  text-shadow: -2px -2px 0 #8ac9f2 2px -2px 0 #8ac9f2, -2px 2px 0 #8ac9f2, 2px 2px 0 #8ac9f2;
}

.world, .scorecount {
  padding: 15px 15px 0 15px;
}

.lives, .numbers, .timedisplay {
  padding: 0 15px 0 15px;
  margin: -10px 0 0 0;
}
